<% provide(:title, "Contact") %>

<h1>Contact</h1>
<p>
  You can contact me by clicking <a href="mailto:<%= @email_address %>?Subject=Hello%20From%20Tutorial"="http://www.railstutorial.org/">here</a>.
</p>
